* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #ccd4da;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p {
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 48em) {
  .container {
    width: 44em;
  }
}

@media screen and (min-width: 64em) {
  .container {
    width: 60em;
  }
}

@media screen and (min-width: 80em) {
  .container {
    width: 76em;
  }
}

.navbar {
  position: sticky;
  top: 0;
  padding: 20px 0;
  background: #ccd4da;
}

.navbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  font-size: 40px;
  margin: 0;
}

.total-information {
  font-size: 14px;
}

.pokemon-filter {
  padding: 0 20px;
  border-radius: 4px;
  width: 200px;
  background: transparent;
  font-weight: bold;
  font-size: 17px;
  border: 2px solid #8e9da9;
  text-transform: capitalize;
  height: 50px;
}

.pokemon-filter option {
  text-transform: capitalize;
}

.pokemon-list-wrapper {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-gap: 25px;
  margin-bottom: 25px;
}

.pokemon-item-wrapper {
  list-style-type: none;
  background: #fff;
  padding: 20px 30px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 95%;
  background-position-y: center;
  text-transform: uppercase;
  cursor: pointer;
}

.pokemon-item-wrapper:hover {
  font-weight: bold;
}

.pokemon-detail-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(96, 102, 110, 0.8);
  display: flex;
  align-items: center;
}

.pokemon-detail-popup {
  width: 400px;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border-radius: 4px;
  text-align: center;
}

.pokemon-detail-popup__image {
  margin-bottom: 10px;
  width: 150px;
}

.pokemon-detail-popup__name {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
}

.pokemon-detail-popup__types {
  text-transform: uppercase;
  color: #a9a9a9;
  letter-spacing: 1px;
  font-size: 14px;
  margin-bottom: 10px;
}

.pokemon-detail-popup__close {
  background: #fff;
  border: 1px solid #5a5757;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
}

.pokemon-stat-item {
  display: flex;
  justify-content: space-between;
}

.pokemon-stat-name {
  text-transform: uppercase;
  margin-bottom: 5px;
}
